.formContainer{padding: 0; margin: 0; border: 0; outline: none;}
.ltr{direction: ltr;}
.rtl{direction: rtl;}
.cursorPointer{cursor: pointer;}
a[href^=tel]{color: inherit;}
.uk-text-zero{font-size: 0;}
.uk-text-white{color: #fff;}
.uk-text-tiny{font-size: 12px};